service radioreset /vendor/bin/restart_rild.sh
    class main
    oneshot
    disabled

on property:gsm.sim.state=ABSENT
    start radioreset

on property:gsm.sim.state="UNKNOWN"
  start radioreset

on property:persist.radio.airplane_mode_on=1
    start radioreset
