allow priv_app sysfs_cpuinfo:dir { read open };
allow priv_app sysfs_cpuinfo:file { read open };
allow priv_app sysfs:file { read open getattr };
allow priv_app sysfs:dir { open };
allow priv_app device:dir { open };
allow priv_app proc_interrupts:file { open };
allow priv_app zygote:dir { search };
allow priv_app zygote:file { read open };
allow priv_app bluetooth_prop:file { open getattr };
allow priv_app bootloader_boot_reason_prop:file { open };
allow priv_app proc_modules:file { open };